
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title"> 导航 </li>
        <li>
            <a md-button aria-label="menu" href="#!/welcome">
                <i class="fa fa-check-square-o"></i>
                <span>欢迎使用</span>
            </a>
        </li>
        <li ng-if="user.can('list-institution')">
            <a md-button aria-label="menu" href="#!/institution/list">
                <i class="fa fa-building"></i>
                <span>护理机构</span>
            </a>
        </li>
        <li ng-if="user.can('view-single-institution')">
            <a md-button aria-label="menu" href="#!/institution/{{ user.institution._id }}">
                <i class="fa fa-building"></i>
                <span>我的机构</span>
            </a>
        </li>
        <li ng-if="user.can('list-client')">
            <a md-button aria-label="menu" href="#!/client/list">
                <i class="fa fa-blind"></i>
                <span>护理对象</span>
            </a>
        </li>
        <li ng-if="user.can('list-user')">
            <a md-button aria-label="menu" href="#!/user/list?roles=nurse&roles=assistant" ng-show="true">
                <i class="fa fa-user-md"></i>
                <span>护理人员</span>
            </a>
        </li>
        <li ng-if="user.can('list-user')">
            <a md-button aria-label="menu" href="#!/user/list?roles=family" ng-show="true">
                <i class="fa fa-home"></i>
                <span>家属亲友</span>
            </a>
        </li>
    </ul>
</div>