<div class="page" ng-controller="userDetailCtrl">
    <div class="row ui-section">
        <div class="col-lg-12">
            <h2 class="section-header">{{ roleLabels[user.roles[0]] }}详情</h2>
        </div>
        <div class="col-md-4">
            <div class="card bg-white">
                <div class="card-image" style="background-color:#EC407A">
                    <div class="card-title">{{ user.name }}</div>
                </div>
                <div class="card-content">
                    <a class="card-profile-img pull-right" href="javascript:;">
                        <img ng-src="assets/images/assets/nurse.jpg">
                    </a>
                    <md-list>
                        <md-list-item class="md-2-line">
                            <md-icon>autorenew</md-icon>
                            <div class="md-list-item-text">
                                <h3>今日更换32人次</h3>
                                <p>上次更换：16:30</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
                <div class="card-action" style="text-align:left">
                    <md-list>
                        <md-list-item>
                            <md-icon>home</md-icon>
                            <div class="md-list-item-text">
                                <h3 style="margin-top: 13px;font-weight: normal;font-size:16px">602房间</h3>
                            </div>
                            <div class="md-secondary label label-info">在岗</div>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <md-tabs md-border-bottom md-dynamic-height>
                <md-tab label="概况">
                    <div class="card bg-white" layout-padding>
                        <form layout="row" layout-padding layout-wrap>
                            <div flex="50" layout="column">
                                <fieldset layout="row">
                                    <md-input-container>
                                        <label>姓名</label>
                                        <input ng-model="user.name">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>性别</label>
                                        <input ng-model="user.gender">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>手机号</label>
                                        <input ng-model="user.mobile">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>用户名</label>
                                        <input ng-model="user.username">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>重置密码</label>
                                        <input type="password" ng-model="user.password">
                                    </md-input-container>
                                </fieldset>
                            </div>
                            <div flex="50">
                                <fieldset layout="row">
                                    <md-input-container>
                                        <label>角色</label>
                                        <md-select ng-model="user.roles[0]">
                                            <md-option ng-repeat="role in roles" ng-value="role.name">{{ role.label }}</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-autocomplete md-floating-label="护理机构" md-items="institution in institutions | filter:institutionSearchText" md-search-text="institutionSearchText" md-item-text="institution.name" md-selected-item="user.institution" md-min-length="0" md-no-cache="true" style="margin-top:24px">
                                        <span>{{institution.name}}</span>
                                    </md-autocomplete>
                                    <md-autocomplete ng-if="isFamily(user)" md-floating-label="护理对象" md-items="client in unBindedclients | filter:clientSearchText" md-search-text="clientSearchText" md-item-text="client.name" md-selected-item="user.client" md-min-length="0" md-no-cache="true" style="margin-bottom:2px">
                                        <span>{{client.name}}</span>
                                    </md-autocomplete>
                                    <md-input-container ng-if="isStaff(user)">
                                        <label>工号</label>
                                        <input ng-model="user.num">
                                    </md-input-container>
                                </fieldset>
                            </div>
                        </form>
                        <md-button ng-click="updateUser(user)" ng-show="userChanged" class="md-fab md-fab-corner"><md-icon>done</md-icon></md-button>
                    </div>
                </md-tab>
                <md-tab label="记录" ng-if="user.roles[0]=='nurse' || user.roles[0]=='assistant'">
                    <div class="ui-timline-container">
                        <section class="ui-timeline">
                            <article class="tl-item">
                                <div class="tl-body">
                                    <div class="tl-entry">
                                        <div class="tl-caption">
                                            <a class="btn btn-primary btn-block">今天</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="tl-item" ng-repeat="log in logs" ng-click="editLog(log)">
                                <div class="tl-body">
                                    <div class="tl-entry">
                                        <div class="tl-time">{{ log.createdAt | date:'yyyy-MM-dd HH:mm' }}</div>
                                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info">
                                            <i class="fa fa-asterisk"></i>
                                        </div>
                                        <div class="tl-content">
                                            <h4 class="tl-tile text-primary">
                                                {{ log.title }}
                                                <small>{{ log.assistant.name }}</small>
                                            </h4>
                                            <p>{{ log.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </div>
                    <md-button ng-click="editLog(log)" class="md-fab md-fab-corner"><md-icon>add</md-icon></md-button>
                </md-tab>
                <md-tab label="统计" ng-if="user.roles[0]=='nurse' || user.roles[0]=='assistant'">
                    <div class="card bg-white" layout-padding>
                        <canvas id="chart" class="chart chart-bar" chart-data="chart.data" chart-labels="chart.labels" chart-series="chart.series" chart-options="chart.options" chart-dataset-override="chart.datasetOverride"></canvas>
                    </div>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>
