<div class="page page-profile" ng-controller="authCtrl">
    <div class="row ui-section">
        <div class="panel panel-default project-list">
            <div class="panel-heading">
                <div class="panel-title">个人资料</div>
            </div>
            <div class="panel-body" style="padding-bottom:50px">

                <div layout="row">
                    <div class="profile-img" flex="1">
                        <md-icon style="font-size:100px;width:100px">account_circle</md-icon>
                    </div>

                    <div layout-sm="column" layout-gt-sm="row" flex>
                        <div flex layout="column">
                            <md-input-container>
                                <label>姓名</label>
                                <input type="text" ng-model="user.name">
                            </md-input-container>
                            <md-input-container>
                                <label>修改密码</label>
                                <input type="password" ng-model="user.password">
                            </md-input-container>
                        </div>
                        <div flex layout="column">
                            <md-input-container class="md-input-has-value">
                                <label>护理机构</label>
                                <p style="height:30px;line-height:30px;margin-bottom:23px">{{ user.institution.name }}</p>
                            </md-input-container>
                            <md-input-container class="md-input-has-value">
                                <label>角色</label>
                                <p style="height:30px;line-height:30px;margin-bottom:23px">{{ user.roles }}</p>
                            </md-input-container>
                        </div>
                        <md-button ng-click="updateUser(user)" class="md-fab md-primary" style="position:fixed;right:20px;bottom:20px">
                            <md-icon>done</md-icon>
                        </md-button>
                    </div>
                </div>
                <div class="profile-info">
                    <ul class="list-unstyled list-inline text-center" layout="row">
                        <li><i class="fa fa-building"></i> <span>护理机构</span> <span class="text-muted">( 1 )</span></li>
                        <li><i class="fa fa-bed"></i> <span>护理床位</span> <span class="text-muted">( {{ bedCount }} )</span></li>
                        <li><i class="fa fa-blind"></i> <span>护理对象</span> <span class="text-muted">( {{ clientCount }} )</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>