<div class="page" ng-controller="clientDetailCtrl">
    <div class="row ui-section">
        <div class="col-lg-12">
            <h2 class="section-header">护理对象详情</h2>
        </div>
        <div class="col-md-4">
            <div class="card bg-white">
                <div class="card-image bg-success" ng-class="{'bg-danger':client.status.name=='煎熬','bg-warning':client.status.name=='湿润'}">
                    <div class="card-title">{{ client.name }}</div>
                </div>
                <div class="card-content">
                    <a class="card-profile-img pull-right" href="javascript:;">
                        <img ng-if="client.age" ng-src="assets/images/assets/avatar-{{ client.age % 4 }}.jpg" alt="">
                    </a>
                    <md-list>
                        <md-list-item class="md-2-line">
                            <md-icon>autorenew</md-icon>
                            <div class="md-list-item-text">
                                <h3>今日更换：3 次</h3>
                                <p>上次更换：16:30</p>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <md-icon>opacity</md-icon>
                            <div class="md-list-item-text">
                                <h3>
                                    <i class="fa fa-thermometer-half"></i> {{ client.bean.temp | number:1 || '-' }}℃
                                    <i class="fa fa-tint"></i> {{ client.bean.humi | number:1 || '-' }}%
                                </h3>
                                <p>当前状态{{ client.status.name || '良好'}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
                <div class="card-action" style="text-align:left">
                    <!-- <img ng-if="client.age" ng-src="assets/images/assets/avatar-{{ client.age % 4 }}.jpg"> -->
                    <md-list>
                        <md-list-item class="md-2-line">
                            <img class="md-avatar contain" src="assets/images/logo.png">
                            <div class="md-list-item-text">
                                <h3>传感器</h3>
                                <p>{{ client.bean.mac || nearByBean.mac || '未绑定' }}</p>
                            </div>
                            <div class="md-secondary">
                                <span ng-if="client.bean" class="label label-success">已绑定</span>
                                <md-button ng-if="!client.bean && nearByBean" ng-click="bindBean(nearByBean, client)" class="md-primary md-raised">绑定</md-button>
                            </div>
                        </md-list-item>
                        <md-list-item class="md-2-line">
                            <img class="md-avatar" src="assets/images/assets/nurse.jpg">
                            <div class="md-list-item-text">
                                <h3>护理人员</h3>
                                <p>{{ client.assistant.name }}</p>
                            </div>
                            <div class="md-secondary label label-success">在岗</div>
                        </md-list-item>
                    </md-list>
                    <!-- <md-button ng-href="#!/client/{{ client._id }}" class="btn">
                        <md-icon>autorenew</md-icon>
                        更换
                    </md-button>
                    <md-button ng-href="#!/client/{{ client._id }}" class="btn">
                        <md-icon>view_list</md-icon>
                        详情
                    </md-button> -->
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <md-tabs md-border-bottom md-dynamic-height>
                <md-tab label="概况">
                    <div class="card bg-white" layout-padding>
                        <form layout="row" layout-padding layout-wrap>
                            <div flex="50">
                                <fieldset layout="column">
                                    <md-input-container>
                                        <label>姓名</label>
                                        <input ng-model="client.name">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>性别</label>
                                        <input ng-model="client.gender">
                                    </md-input-container>
                                    <md-input-container>
                                        <label>年龄</label>
                                        <input ng-model="client.age">
                                    </md-input-container>
                                </fieldset>
                            </div>
                            <div flex="50">
                                <fieldset layout="column">
                                    <md-autocomplete flex md-floating-label="护理机构" md-items="institution in institutions | filter:institutionSearchText" md-search-text="institutionSearchText" md-item-text="institution.name" md-selected-item="client.institution" md-min-length="0" md-no-cache="true">
                                        <span>{{institution.name}}</span>
                                    </md-autocomplete>
                                    <md-autocomplete flex md-floating-label="房间" md-items="room in getRooms()" md-search-text="roomSearchText" md-item-text="room.num" md-selected-item="client.room" md-min-length="0" md-no-cache="true">
                                        <span>{{room.num}}</span>
                                    </md-autocomplete>
                                    <md-input-container>
                                        <label>床位</label>
                                        <input ng-model="client.room.bedNum">
                                    </md-input-container>
                                </fieldset>
                            </div>
                            <md-input-container flex>
                                <label>疾病史</label>
                                <textarea ng-model="client.history" rows="3"></textarea>
                            </md-input-container>                                
                        </form>
                        <md-button ng-click="updateClient(client)" ng-show="clientChanged" class="md-fab md-fab-corner"><md-icon>done</md-icon></md-button>
                    </div>
                </md-tab>
                <md-tab label="记录">
                    <div class="ui-timline-container">
                        <section class="ui-timeline">
                            <article class="tl-item">
                                <div class="tl-body">
                                    <div class="tl-entry">
                                        <div class="tl-caption">
                                            <a href="" class="btn btn-primary btn-block">今天</a>
                                        </div>
                                    </div>
                                </div>
                            </article>                            
                            <article class="tl-item" ng-repeat="log in logs" ng-click="editLog(log)">
                                <div class="tl-body">
                                    <div class="tl-entry">
                                        <div class="tl-time">{{ log.createdAt | date:'yyyy-MM-dd HH:mm' }}</div>
                                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info">
                                            <i class="fa" ng-class="{'fa-tint':log.title=='排尿', 'fa-refresh':log.title=='更换尿布'}"></i>
                                        </div>
                                        <div class="tl-content">
                                            <h4 class="tl-tile text-primary">
                                                {{ log.title }}
                                                <small>{{ log.assistant.name }}</small>
                                            </h4>
                                            <p>{{ log.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </div>
                    <md-button ng-click="editLog(log)" class="md-fab md-fab-corner"><md-icon>add</md-icon></md-button>
                </md-tab>
                <md-tab label="统计">
                    <div class="card bg-white" layout-padding>
                        <canvas id="chart" class="chart chart-bar" chart-data="chart.data" chart-labels="chart.labels" chart-series="chart.series" chart-options="chart.options" chart-dataset-override="chart.datasetOverride"></canvas>
                    </div>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>
