<div class="page-welcome">
    <div class="welcome-container text-center">
        <div class="welcome">
            <h1 class="logo">
                <img src="assets/images/logo.png" alt="豆云" width="150px">
            </h1>
            <h1>欢迎使用豆云智能护理</h1>
            <h2><span data-translate="FOLLOW_THE_WIZARD"></span></h2>
        </div>

        <div class="welcome-body">
            <md-button ng-if="user.can('list-institution')" href="#!/institution/list" class="md-raised md-primary btn-lg btn-w-lg" aria-label="开始使用">开始使用</md-button>
            <md-button ng-if="user.can('view-single-client') && user.client" ng-href="#!/client/{{ user.client.id }}" class="md-raised md-primary btn-lg btn-w-lg" aria-label="开始使用"></md-button>
            <md-button ng-if="user.can('list-client') && !user.can('list-institution')" ng-href="#!/client" class="md-raised md-primary btn-lg btn-w-lg" aria-label="开始使用"></md-button>
        </div>
    </div>
</div>
