<md-bottom-sheet class="md-list md-has-header" style="position:fixed">
    <md-subheader ng-cloak>编辑护理对象</md-subheader>
    <div layout="row">
        <div flex="30" layout="column">
            <md-input-container>
                <label>姓名</label>
                <input ng-model="client.name">
            </md-input-container>
            <md-input-container>
                <label>年龄</label>
                <input ng-model="client.age">
            </md-input-container>
        </div>
        <md-button ng-click="updateClient(client)" class="md-fab md-fab-corner">
            <md-icon>done</md-icon>
        </md-button>
    </div>
</md-bottom-sheet>
