<div class="page" ng-controller="institutionDetailCtrl">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">{{ institution.name || '新建护理机构' }}</h2>
        </div>
        <div class="col-md-12">
            <md-tabs md-border-bottom md-dynamic-height>
                <md-tab label="概况">
                    <md-card layout="row" layout-padding>
                        <div flex layout-padding>
                            <form layout="column">
                                <md-input-container>
                                    <label>名称</label>
                                    <input ng-model="institution.name">
                                </md-input-container>
                                <md-input-container>
                                    <label>地址</label>
                                    <input ng-model="institution.address">
                                </md-input-container>
                                <md-input-container>
                                    <label>电话</label>
                                    <input ng-model="institution.phone">
                                </md-input-container>
                            </form>
                        </div>
                        <div flex>
                            
                        </div>
                    </md-card>
                    <md-button ng-click="updateInstitution(institution)" ng-show="institutionChanged" class="md-fab md-fab-corner"><md-icon>done</md-icon></md-button>
                </md-tab>
                <md-tab label="房间" ng-disabled="!institution._id">
                    <md-card layout-padding>
                        <md-table-container>
                            <table md-table>
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column>名称</th>
                                        <th md-column>床位数</th>
                                        <th md-column>护理对象数</th>
                                        <th md-column>护理人员</th>
                                        <th md-column>状态</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="room in rooms" ng-click="editRoom(room)">
                                        <td md-cell>{{ room.num }}</td>
                                        <td md-cell>{{ room.bedCount }}</td>
                                        <td md-cell>{{ room.clients.length }}</td>
                                        <td md-cell>{{ room.assistant.name }}</td>
                                        <td md-cell>
                                            <a ng-href="#!/room/{{ room._id }}" ng-click="$event.stopPropagation()" class="btn"><md-icon>view_module</md-icon></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </md-card>
                    <md-button ng-click="editRoom()" class="md-fab md-fab-corner"><md-icon>add</md-icon></md-button>
                </md-tab>
                <md-tab label="护理人员" ng-disabled="!institution._id">
                    <md-card layout-padding>
                        <md-table-container>
                            <table md-table>
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column>工号</th>
                                        <th md-column>姓名</th>
                                        <th md-column>手机号</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="assistant in assistants" ng-click="showUserDetail(assistant)">
                                        <td md-cell>{{ assistant.num }}</td>
                                        <td md-cell>{{ assistant.name }}</td>
                                        <td md-cell>{{ assistant.mobile }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </md-card>
                    <md-button ng-click="editUser()" class="md-fab md-fab-corner"><md-icon>add</md-icon></md-button>
                </md-tab>
                <md-tab label="护理对象" ng-disabled="!institution._id">
                    <md-card layout-padding>
                        <md-table-container>
                            <table md-table>
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column>姓名</th>
                                        <th md-column>房间</th>
                                        <th md-column>床位</th>
                                        <th md-column>护理人员</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="client in clients" ng-click="showClientDetail(client)">
                                        <td md-cell>{{ client.name }}</td>
                                        <td md-cell>{{ client.room.num }}</td>
                                        <td md-cell>{{ client.room.bedNum }}</td>
                                        <td md-cell>{{ client.assistant.name }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </md-card>
                    <md-button ng-click="editClient()" class="md-fab md-fab-corner"><md-icon>add</md-icon></md-button>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>
