<md-bottom-sheet class="md-list md-has-header">
    <md-subheader ng-cloak>编辑房间</md-subheader>
    <div layout="row">
        <div flex="30">
            <form layout="column">
                <md-input-container>
                    <label>房间号</label>
                    <input ng-model="room.num">
                </md-input-container>
                <md-input-container>
                    <label>床位数</label>
                    <input ng-model="room.bedCount">
                </md-input-container>
                <md-input-container>
                    <label>护工</label>
                    <input ng-model="room.assistant">
                </md-input-container>
            </form>
        </div>
        <md-button ng-click="updateRoom(room)" class="md-fab md-fab-corner">
            <md-icon>done</md-icon>
        </md-button>
    </div>
</md-bottom-sheet>